<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/static/css/main.css" />
<script type="text/javascript" src="/static/js/jquery-1.9.0.js"></script>
</head>
<body>
	<div id="all">
		<div id="header"><img src="{{ STATIC_URL }}img/list-icon.png" class="personal_menu"/></div>
		<div id="main">
			<div class="talk">
				<div class="others">
					<img alt="" src="/static/img/others.jpg" class="face">
					<div id="send_at">星期四 21:44</div>
					<div class="dialog a" id="content">你好，你就在插入那里,插入,形状,标注,选择和微信对话框类似的那个样里,插入,形状,标注,选择和微信对话框类似的那个样里,插入,形状,标注,选择和微信对话框类似的那个样子。 然后插入图片,选择任意一个图片做成头像 在对话</div>
				</div>
				<div class="myself">
					<img alt="" src="/static/img/myself.jpg" class="face">
					<div id="send_at">星期四 21:44</div>
					<div class="dialog b" id="content">hello,你看上面有条狗</div>
				</div>
				<div class="others">
					<img alt="" src="/static/img/others.jpg" class="face">
					<div id="send_at">星期四 21:44</div>
					<div class="dialog a" id="content">呵呵</div>
				</div>
				<div class="myself">
					<img alt="" src="/static/img/myself.jpg" class="face">
					<div id="send_at">星期四 21:44</div>
					<div class="dialog b" id="content">233333333333333</div>
				</div>
			</div>
			<div class="inflow"><textarea></textarea><button class="btn right">发送</button></div>
		</div>
	</div>
</body>
</html>